# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# downloaded project assets not used in the slideshow (keep repo small)
/public/images/lets-dog/acceptFriendCheck.gif
/public/images/lets-dog/alreadyFriend.gif
/public/images/lets-dog/architecture.png
/public/images/lets-dog/board-delete.gif
/public/images/lets-dog/chatting.gif
/public/images/lets-dog/comment-create.gif
/public/images/lets-dog/comment-delete.gif
/public/images/lets-dog/dupNickname.gif
/public/images/lets-dog/emailValidation.gif
/public/images/lets-dog/emailValidationCheck.gif
/public/images/lets-dog/erd.png
/public/images/lets-dog/figma.png
/public/images/lets-dog/friend-alram.gif
/public/images/lets-dog/jira.png
/public/images/lets-dog/like.gif
/public/images/lets-dog/mypage.gif
/public/images/lets-dog/notion.png
/public/images/lets-dog/requestFriend.gif
/public/images/lets-dog/기획배경1.png
/public/images/maejang-minjok/API명세서.PNG
/public/images/maejang-minjok/erd.png
/public/images/maejang-minjok/jwt토큰.gif
/public/images/maejang-minjok/mamin.png
/public/images/maejang-minjok/msa.png
/public/images/maejang-minjok/notion.png
/public/images/maejang-minjok/간편페이등록.gif
/public/images/maejang-minjok/기능명세서.pdf
/public/images/maejang-minjok/마이페이지.gif
/public/images/maejang-minjok/특화아키텍쳐C208.png
/public/images/mung-nyang/FinAnsOtherView.gif
/public/images/mung-nyang/mungnyang_background_image.png
/public/images/mung-nyang/게임시작투표.gif
/public/images/mung-nyang/라이어-공개.gif
/public/images/mung-nyang/라이어가정답고르는중.gif
/public/images/mung-nyang/라이어투표.gif
/public/images/mung-nyang/비상정답.gif
/public/images/mung-nyang/정답자-최종정답.gif
/public/images/mung-nyang/정답자질문.gif
/public/images/mung-nyang/정답자투표.gif
/public/images/mung-nyang/제시어설명직전.gif
/public/images/mung-nyang/테스트화면.gif
